/* .container {
  overflow: auto;
  height: 164px;
}

.editor {
  min-height: 100%;
  font-family: var(--font-family-code);
  font-size: var(--font-size-12);
}


.fieldset {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin: 0;
}
.legend {
  font-weight: bold;
  padding: 0 4px;
  font-size: 0.9em;
}
.checkboxItem {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  font-size: 0.9em;
}

.header-text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
 */
.gridContainer {
  display: grid;
  grid-template-columns: 200px 1fr; 
  gap: 16px;
  height: calc(100% - 32px);
}

.settingsPanel {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-right: 16px;
  border-right: 1px solid #eee;
}

.editorPanel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editor {
  border: 1px solid #ddd;
  min-height: 250px; 
  flex-grow: 1; 
  overflow: auto !important; 
  font-family: 'Fira Code', 'Consolas', monospace; 
  font-size: 13px;
  background-color: #2d2d2d;
  color: #f8f8f2;
  border-radius: 4px;
}

/* Styling CheckboxGroup */
.fieldset {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin: 0;
}
.legend {
  font-weight: bold;
  padding: 0 4px;
  font-size: 0.9em;
}
.checkboxItem {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  font-size: 0.9em;
}